{% extends 'base.html.twig' %}

{% block body %}
    <center>
    {% if app.user %}
    <div class="mb-3">
        You are logged in as <a style="font-weight: bold">{{ app.user.username }}</a> ({{ app.user.userType }})
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(medicalFileForm)}}

                {{ form_row(medicalFileForm.docType) }}
                {{ form_row(medicalFileForm.fileName) }}

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Submit
                </button>
                {{ form_end(medicalFileForm) }}

            </div>
        </div>
    </div>
    {% endif %}

    </center>
{% endblock %}