<!DOCTYPE html>
<html>
    <head>
        {% if app.environment != 'test' %}{{ encore_entry_link_tags('app') }}{% endif %}
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <style>
                body{
                    background-color: #cbeeff;
                }

                tr:nth-child(odd) {
                    background-color: #428bca;
                }

                tr:nth-child(even) {
                    background-color: #428bca;
                }

                th {
                    background-color: #6acbff;
                }
            </style>
        {% endblock %}
    </head>
    <body>
         {% if app.environment != 'test' %}{{ encore_entry_script_tags('app') }}{% endif %}
        <nav style="background-color: #061550;" class="navbar navbar-default rounded-sm">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="text-black-50" href="{{ path('homepage') }}" >
                        <img src="{{ asset('images/msing.png') }}"  height="50px">
                    </a>
                </div>

                {% if app.user %}
                    <a href="{{ path('upload_profile_pic', { 'id':app.user.id }) }}" >
                        {% if app.user.profilePicturePath %}
                            <img class="border rounded-circle" src="{{ profile_asset(app.user.profilePicturePath) }}" height="50px" width="50px" style="background-color: white" >
                        {% else %}
                            <img class="border rounded-circle" src="{{ asset('images/avatar.png') }}" height="50px" width="50px" style="background-color: white">
                        {% endif %}
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('app_register') }}"><span style="color: white;">Register</span></a></li>
                        <li><a href="{{ path('app_logout') }}"><span style="color: white;">Logout</span></a></li>
                    </ul>
                {% else %}
                    <img class="rounded-circle" class="rounded-circle" src="{{ asset('images/avatar.png') }}" height="50px" width="50px" style="background-color: white">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('app_register') }}"><span style="color: white;">Register</span></a></li>
                        <li><a href="{{ path('app_login') }}"><span style="color: white;">Login</span></a></li>
                    </ul>
                {% endif %}

            </div>
        </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

            <script>
                $('.dropdown-toggle').dropdown();
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.0/ckeditor.js" integrity="sha256-1evZ98/oSRPDKSmXZw7fHBL3bxP8WHqfXBNdzV8XPJ8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.0/ckeditor.min.js" integrity="sha256-I2j+KDYwFZ0PYPdDhbmBnwBsEq/pADGxS8eO+7VL9MU=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.0/adapters/jquery.min.js" integrity="sha256-T0TSE8NmRyUwvB2ZUePaTzyjTEjw4eCxXDSIJCg/UaI=" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>
