{% extends 'base.html.twig' %}

{% block title %}
    MSINGMD|Doctors' account
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        You are logged in as <a class="font-weight-bold">{{ app.user.username }}</a> ({{ app.user.userType }})
                    </center>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-6 form-control-lg">
                    <div>
                        <span class="form-row"> {{ form_start(docToPatientForm)}} </span>
                        {{ form_row(docToPatientForm.patientId) }}
                        <button class="btn btn-primary btn-block" type="submit">
                            Add patient
                        </button>
                        {{ form_end(docToPatientForm) }}

                    </div>
                </div>
                <div class="col-6 align-content-center">
                    <div class="table-responsive-lg">
                        <table class="table table-striped table-bordered d-lg-table-cell">
                            <tr>
                                <th>Your patients</th><th>Number of files</th><th>Options</th>
                            </tr>
                            {% for key, patient in patientList %}
                                <tr>
                                    <td>
                                       {{ key }}
                                    </td>
                                    <td>
                                        {{ patient.count }}
                                    </td>
                                    <td>
                                        {% if patient.count %}
                                            <a title="View patient files" href="{{ path('medDetails', {'id':patient.id}) }}"><i class="fa fa-eye"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>

    {% endif %}



{% endblock %}